h1{
    color: blueviolet;
}
h2{
    text-align: center;
    color:aqua
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    background-color: gray;
  }
  